swagger: '2.0'
info:
  version: '0.0.2'
  title: 'Business Registries REST API'
  license:
    name: 'Creative Commons Attribution 3.0 Australia'
    url: 'https://creativecommons.org/licenses/by/3.0/au/'
  termsOfService: 'https://ato.gov.au/terms-of-service/'
  x-logo:
    url: 'https://www.ato.gov.au/uploadedImages/Content/_DEM/Images/logo-ato.png'
    backgroundColor: '#D3D3D3'
  description: >
    # Introduction

    The Business Registries API is built on HTTP. The API is RESTful. It has predictable resource URIs. It accepts and
    returns JSON (and optionally XML) in the HTTP body.

    # Authentication

    When you sign up for an account, you are given your first API key. You can generate additional API keys, and delete
    API keys (as you may need to rotate your keys in the future). You authenticate to the Business Registries API by
    providing your secret key in the request header.

host: api.abr.ato.gov.au
basePath: /
schemes:
  - https
x-servers:
  - url: //api.abr.ato.gov.au/
    description: Production API Server
  - url: //api.sandbox.abr.ato.gov.au/
    description: Sandbox API Server
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: Individuals
    description: >
      An individual is a person about whom the registry wishes to maintain information.

      For example, the individual's date and place of birth (for the purposes of identification) and the individual's
      residential address (which is used for administrative or law enforcement purposes only).
  - name: Organisations
    description: >
      An organisation usually consists of a number of individuals or groups bound by a common purpose about whom the
      registry wishes to maintain information.

      For example, the organisation's legal entity type (e.g., Incorporated Entity, Unincorporated Entity,
      Partnership or Joint Venture).
responses:
  AccessForbidden:
    description: 'Access forbidden, an invalid API-KEY was used'
    schema:
      $ref: '#/definitions/Error'
  NotFound:
    description: Resource was not found
    schema:
      $ref: '#/definitions/Error'
  InvalidDataError:
    description: Invalid data was sent
    schema:
      $ref: '#/definitions/InvalidError'
parameters:
  resourceId:
    name: id
    in: path
    description: The resource identifier string
    type: string
    required: true
  dateOfBirth:
    name: dateOfBirth
    in: query
    description: The individual's date of birth
    type: string
    required: true
  placeOfBirth:
    name: placeOfBirth
    in: query
    description: The individual's place of birth
    type: string
    required: true
  registeredIdentifier:
    name: registeredIdentifier
    in: query
    description: The registered identifier, for example, "ACN" or "ABN".
    type: string
    required: true
  identifier:
    name: identifier
    in: query
    description: The identifier.
    type: string
    required: true
headers:
  Rate-Limit-Limit:
    description: The number of allowed requests in the current period
    type: integer
  Rate-Limit-Remaining:
    description: The number of remaining requests in the current period
    type: integer
  Rate-Limit-Reset:
    description: >
      The date in format defined by [RFC
      822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)

      when the current period will reset
    type: string
  Pagination-Total:
    description: Total items count
    type: integer
  Pagination-Limit:
    description: Items per page limit
    type: integer
  Pagination-Offset:
    description: Pagination offset
    type: integer
