swagger: '2.0'
info:
  version: '0.0.5'
  title: 'Business Registries REST API'
  license:
    name: 'Creative Commons Attribution 3.0 Australia'
    url: 'https://creativecommons.org/licenses/by/3.0/au/'
  termsOfService: 'https://ato.gov.au/terms-of-service/'
  x-logo:
    url: 'https://www.ato.gov.au/uploadedImages/Content/_DEM/Images/logo-ato.png'
    backgroundColor: '#D3D3D3'
  description: >
    # Introduction

    The Business Registries API is built on HTTP. The API is RESTful. It has predictable resource URIs.

      The API is documented in [OpenAPI](https://github.com/OAI/OpenAPI-Specification) format.
      In addition to the standard OpenAPI syntax we use a few
      [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).

    # Overview

    The following sections describes the resources that make up the Business Registries REST API.

    ## Current Version

    By default, all requests to https://api.abr.ato.gov.au receive the `v1` version of the REST API.
    We encourage you to explicitly request this version via the `Accept` header.

        Accept: application/vnd.abr-ato.v1+json

    ## Schema

    All API access is over HTTPS, and accessed from https://api.abr.ato.gov.au.
    All data is sent and received as JSON. Blank fields are included.

      All dates use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:

        YYYY-MM-DD

      For example: `2017-07-01` (the 1st of July 2017)

      All timestamps use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:

        YYYY-MM-DDTHH:MM:SSZ

      For example: `2017-07-01T11:05:06+10:00`

    ## Timezones

    Some requests allow for specifying timestamps or generate timestamps with time zone information.
    We apply the following rules, in order of priority, to determine timezone information for API calls.

    ### Explicitly provide an ISO 8601 timestamp with timezone information

    For API calls that allow for a timestamp to be specified, we use that exact timestamp.

      For example: `2017-07-01T11:05:06+10:00`

    ## Pagination

    Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.

      For example:

        Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
              <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

    `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries
    start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on
    `page 34`. Accordingly, we have 33 more pages of information that we can consume.

    ## Parameters

    Many API methods take optional parameters:

        GET /individuals/1234/addresses/?addressType='Mailing'

    In this example, the '1234' value is provided for the `:partyId` parameter in the path while `:addressType` is passed in
    the query string.

    For POST, PATCH, PUT, and DELETE requests, parameters not included in the URL should be encoded as JSON with a
    Content-Type of 'application/json'.

    ## Root Endpoint

    You can issue a GET request to the root endpoint (also known as the service root) to get all the endpoint
    categories that the REST API supports:

        curl https://api.abr.ato.gov.au

    ## Authentication

    The Business Registries API supports API Key authentication.

      When you sign up for an account, you are given your first API key. You can generate additional API keys, and delete
      API keys (as you may need to rotate your keys in the future). You authenticate to the Business Registries API by
      providing your secret key in the request header.

      **Note:** Some requests will return `404 Not Found`, instead of `403 Permission Denied`. This is to prevent the
      accidental leakage of information to unauthorised users.

host: api.abr.ato.gov.au
basePath: /
schemes:
  - https
# securityDefinitions:
#   apiKey:
#     type: apiKey
#     name: apiKey
#     in: header
x-servers:
  - url: //api.abr.ato.gov.au/
    description: Production API Server
  - url: //api.sandbox.abr.ato.gov.au/
    description: Sandbox API Server
produces:
  - application/json
consumes:
  - application/json

tags:
  - name: Individuals
    description: |
      An individual is a person about whom the registry wishes to maintain information.

        For example, the individual's date and place of birth (for the purposes of identification) and the individual's
        residential address (which is used for administrative purposes).

  - name: Individuals Roles
    description: |
      A role defines the characteristics of a relationship between parties.
      An Indiviual can participate in a relationship with other indiviuals and organisations.

      For example:

      | Party         | Role           | Relationship     | Role          | Party                           |
      | ------------- | -------------- | ---------------- | ------------- | ------------------------------- |
      | Homer Simpson | Husband        | Marriage         | Wife          | Marge Simpson                   |
      | Homer Simpson | Employee       | Employment       | Employer      | Springfield Nuclear Power Plant |
      | Homer Simpson | Safety Officer | Colleague        | Supervisor    | Carl Carlson                    |
      | Homer Simpson | Director       | Directorship     | Company       | Compu Global Hyper Mega Net     |
      | Homer Simpson | Employee       | Employment       | Employer      | Compu Global Hyper Mega Net     |
      | Homer Simpson | Member         | Membership       | Organisation  | The Stonecutters                |
      | Homer Simpson | Partner        | Partnership      | Partnership   | The Be Sharps                   |
      | Homer Simpson | Trustee        | Trusteeship      | Trust         | The Simpson Family Trust        |
      | Homer Simpson | Member         | Membership       | Association   | Mensa International             |

  - name: Individuals Addresses
    description: |
      The registry maintains information about an individual's contact details for administrative purposes.

        Including:
        - an address for the service of documents
        - a principal place of business address
  - name: Individuals Electronic Addresses
    description: |
      The registry maintains information about an individual's contact details for administrative purposes.

        Including:
        - an email address
        - a mobile number
  - name: Individuals Business Names
    description: >
      A business name is a name or title under which a person conducts a business.
  - name: Individuals Licenses
    description: |
      If you carry on a business you may need to hold a licence.

        For example, if you provide financial services, you are required to hold an Australian Financial
        Services (AFS) licence.

  - name: Organisations
    description: |
      An organisation usually consists of a number of individuals or groups bound by a common purpose about whom the
      registry wishes to maintain information.

        For example, the organisation's legal entity type (e.g., Incorporated Entity, Unincorporated Entity,
        Partnership or Joint Venture).

  - name: Organisations Roles
    description: |
      A role defines the characteristics of a relationship between parties.
      An Organisation can participate in a relationship with other organisations and indiviuals.

      For example:

      | Party                           | Role     | Relationship | Role         | Party             |
      | ------------------------------- | -------- | -------------| ------------ | ----------------- |
      | Springfield Nuclear Power Plant | Employer | Employment   | Employee     | Homer Simpson     |
      | Springfield Nuclear Power Plant | Company  | Directorship | Director     | Mr Burns          |
      | Springfield Nuclear Power Plant | Employer | Employment   | Employee     | Mr Burns          |
      | Springfield Nuclear Power Plant | Sponsor  | Sponsorship  | Organisation | The Stonecutters  |

  - name: Organisations Addresses
    description: |
      The registry maintains information about an organisation's contact details for administrative purposes.

        Including:
        - an address for the service of documents
        - a principal place of business address
  - name: Organisations Electronic Addresses
    description: |
      The registry maintains information about an organisation's contact details for administrative purposes.

        Including:
        - an email address
        - a mobile number
  - name: Organisations Business Names
    description: >
      A business name is a name or title under which an organisation conducts a business.
  - name: Organisations Licenses
    description: |
      If you carry on a business you may need to hold a licence.

        For example, if you provide financial services, you are required to hold an Australian Financial
        Services (AFS) licence.

  - name: Business Names
    description: >
      A business name is a name or title under which a person or organisation conducts a business.

  - name: Licenses
    description: |
      If you carry on a business you may need to hold a licence.

        For example, if you provide financial services, you are required to hold an Australian Financial
        Services (AFS) licence.

# Metadata

  - name: Genders
    description: |
      A classification scheme for the representation of human sexes.

  - name: Roles
    description: |
      A classification scheme for the characteristics of relationships between parties.

x-tagGroups:
  - name: Individuals Details
    tags:
      - Individuals
      - Individuals Roles
  - name: Individuals Contact Details
    tags:
      - Individuals Addresses
      - Individuals Electronic Addresses
  - name: Individuals Products
    tags:
      - Individuals Business Names
      - Individuals Licenses

  - name: Organisations Details
    tags:
      - Organisations
      - Organisations Roles
  - name: Organisations Contact Details
    tags:
      - Organisations Addresses
      - Organisations Electronic Addresses
  - name: Organisations Products
    tags:
      - Organisations Business Names
      - Organisations Licenses

  - name: Products & Services
    tags:
      - Business Names
      - Licenses

  - name: Metadata
    tags:
      - Genders
      - Roles

headers:
  Link:
    description: >
      Information about pagination is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.

      For example:

          Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel="next",
                <https://api.abr.ato.gov.au/individuals?page=34>; rel="last"

      `rel="next"` states that the next page is `page=2`. This makes sense, since by default, all paginated queries
      start at page `1`. `rel="last"` provides some more information, stating that the last page of results is on
      `page 34`. Accordingly, we have 33 more pages of information that we can consume.
    type: string
  Location:
    description: >
      A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location
      of the new resource.
    type: string

  Pagination-Total:
    description: Total items count.
    type: integer
  Pagination-Limit:
    description: Items per page limit.
    type: integer
  Pagination-Offset:
    description: Pagination offset.
    type: integer

  Rate-Limit-Limit:
    description: The number of allowed requests in the current period.
    type: integer
  Rate-Limit-Remaining:
    description: The number of remaining requests in the current period.
    type: integer
  Rate-Limit-Reset:
    description: >
      The date in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) when the current period will reset.
    type: string

parameters:
  apiKey:
    name: apiKey
    in: header
    description: The API key.
    type: string
    required: true
  partyId:
    name: partyId
    in: path
    description: The party identifier.
    type: string
    required: true
  addressId:
    name: addressId
    in: path
    description: The address identifier.
    type: string
    required: true
  productId:
    name: productId
    in: path
    description: The product identifier.
    type: string
    required: true
  roleId:
    name: roleId
    in: path
    description: The role identifier.
    type: string
    required: true

# Query parameters, include examples in the description
  dateOfBirth:
    name: dateOfBirth
    in: query
    description: The individual's date of birth, for example, `1979-01-13` (in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format).
    type: string
    required: false
  placeOfBirth:
    name: placeOfBirth
    in: query
    description: The individual's place of birth, for example, `Tamworth`.
    type: string
    required: false

  classification:
    name: classification
    in: query
    description: The classification, for example, `gender`.
    type: string
    required: true

  registeredIdentifier:
    name: registeredIdentifier
    in: query
    description: The registered identifier, for example, `ACN` or `ABN`.
    type: string
    required: false
  identifier:
    name: identifier
    in: query
    description: The identifier, for example, `123456789`.
    type: string
    required: false

responses:
  # 400
  InvalidArgument:
    description: The client specified an invalid argument
    schema:
      $ref: '#/definitions/invalid-argument'
  FailedPrecondition:
    description: Request can not be executed in the current system state
    schema:
      $ref: '#/definitions/failed-precondition'
  # 401
  Unauthenticated:
    description: Request not authenticated due to missing, invalid, or expired token
    schema:
      $ref: '#/definitions/unauthenticated'
  # 403
  PermissionDenied:
    description: The client does not have sufficient permission
    schema:
      $ref: '#/definitions/permission-denied'
  # 404
  NotFound:
    description: The specified resource was not found
    schema:
      $ref: '#/definitions/not-found'


