swagger: '2.0'
info:
  version: '0.0.4'
  title: 'Business Registries REST API'
  license:
    name: 'Creative Commons Attribution 3.0 Australia'
    url: 'https://creativecommons.org/licenses/by/3.0/au/'
  termsOfService: 'https://ato.gov.au/terms-of-service/'
  x-logo:
    url: 'https://www.ato.gov.au/uploadedImages/Content/_DEM/Images/logo-ato.png'
    backgroundColor: '#D3D3D3'
  description: >
    # Introduction

    The Business Registries API is built on HTTP. The API is RESTful. It has predictable resource URIs. It accepts and
    returns JSON (and optionally XML) in the HTTP body.

    # OpenAPI Specification

    This API is documented in [OpenAPI](https://github.com/OAI/OpenAPI-Specification) format.
    In addition to the standard OpenAPI syntax we use a few [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).

    # Authentication

    The Business Registries API supports:
      - API Key authentication

    When you sign up for an account, you are given your first API key. You can generate additional API keys, and delete
    API keys (as you may need to rotate your keys in the future). You authenticate to the Business Registries API by
    providing your secret key in the request header.
host: api.abr.ato.gov.au
basePath: /
schemes:
  - https
securityDefinitions:
  apiKey:
    type: apiKey
    name: apiKey
    in: header
x-servers:
  - url: //api.abr.ato.gov.au/
    description: Production API Server
  - url: //api.sandbox.abr.ato.gov.au/
    description: Sandbox API Server
produces:
  - application/json
consumes:
  - application/json
tags:
  - name: Individuals
    description: >
      An individual is a person about whom the registry wishes to maintain information.

      For example, the individual's date and place of birth (for the purposes of identification) and the individual's
      residential address (which is used for administrative or law enforcement purposes).
  - name: Individuals Addresses
    description: |
      The registry maintains information about an individual's contact details for administrative purposes.

        Including:
        - an address for the service of documents
        - a principal place of business address

  - name: Individuals Electronic Addresses
    description: |
      The registry maintains information about an individual's contact details for administrative purposes.

        Including:
        - an email address
        - a mobile number
  - name: Organisations
    description: >
      An organisation usually consists of a number of individuals or groups bound by a common purpose about whom the
      registry wishes to maintain information.

      For example, the organisation's legal entity type (e.g., Incorporated Entity, Unincorporated Entity,
      Partnership or Joint Venture).
  - name: Organisations Addresses
    description: |
      The registry maintains information about an organisation's contact details for administrative purposes.

        Including:
        - an address for the service of documents
        - a principal place of business address
  - name: Organisations Electronic Addresses
    description: |
      The registry maintains information about an organisation's contact details for administrative purposes.

        Including:
        - an email address
        - a mobile number
x-tagGroups:
  - name: Individuals
    tags:
      - Individuals
      - Individuals Addresses
      - Individuals Electronic Addresses
  - name: Organisations
    tags:
      - Organisations
      - Organisations Addresses
      - Organisations Electronic Addresses
responses:

  InvalidArgument:
    description: Client specified an invalid argument
    schema:
      $ref: '#/definitions/invalid-argument'
  Unauthenticated:
    description: Request not authenticated
    schema:
      $ref: '#/definitions/unauthenticated'

  AccessForbidden:
    description: 'Access forbidden, an invalid API-KEY was used'
    schema:
      $ref: '#/definitions/Error'
  NotFound:
    description: Resource was not found
    schema:
      $ref: '#/definitions/Error'
  InvalidDataError:
    description: Invalid data was sent
    schema:
      $ref: '#/definitions/InvalidError'

parameters:
  apiKey:
    name: apiKey
    in: header
    description: The API key.
    type: string
    required: true
  partyId:
    name: partyId
    in: path
    description: The party identifier.
    type: string
    required: true
  addressId:
    name: addressId
    in: path
    description: The address identifier.
    type: string
    required: true
  dateOfBirth:
    name: dateOfBirth
    in: query
    description: The individual's date of birth.
    type: string
    required: false
  placeOfBirth:
    name: placeOfBirth
    in: query
    description: The individual's place of birth.
    type: string
    required: false
  registeredIdentifier:
    name: registeredIdentifier
    in: query
    description: The registered identifier, for example, "ACN" or "ABN".
    type: string
    required: false
  identifier:
    name: identifier
    in: query
    description: The identifier.
    type: string
    required: false
headers:
  Link:
    description: The Link header introduced by [RFC 5988](https://tools.ietf.org/html/rfc5988#page-6).
    type: string
  Location:
    description: >
      A [Location](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.30) header pointing to the location
      of the new resource.
    type: string

  Pagination-Total:
    description: Total items count.
    type: integer
  Pagination-Limit:
    description: Items per page limit.
    type: integer
  Pagination-Offset:
    description: Pagination offset.
    type: integer

  Rate-Limit-Limit:
    description: The number of allowed requests in the current period.
    type: integer
  Rate-Limit-Remaining:
    description: The number of remaining requests in the current period.
    type: integer
  Rate-Limit-Reset:
    description: >
      The date in format defined by [RFC 822](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html#sec3.3.1)
      when the current period will reset.
    type: string



